* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    height: 100vh;
    font-family: "Inter", "Arial";
    font-size: 62.5%;
  }

  #app {
    width: 100%;
    height: 100%;

  }

  