.slideritem-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  color: #000;
  min-width: 150px;
  min-height: 100%;
  justify-content: space-between;
  cursor:pointer;
  transition: 0.25s;
}

.slideritem-card:hover {
    transform: scale(1.05);
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden; 
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
