.slider {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.slider-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.carousel-track {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 10px 5px;
}

.carousel-track > * {
    flex-shrink: 0;
    flex-basis: calc(25% - 20px); 
    max-width: calc(25% - 20px);
    scroll-snap-align: start;
}

.nav-btn {
    position: absolute;
    z-index: 10;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    transition: transform 0.2s;
}

.nav-btn:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.prev {
    left: -20px;
}

.next {
    right: -20px;
}

@media (max-width: 768px) {
    .nav-btn {
        display: none;
    }
}

@media (max-width: 1024px) {
    .carousel-track > * {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .carousel-track > * {
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}