.slideritem-card {
        background-color: #fff;
        padding: 1rem;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        box-shadow: 0 4px 12px rgba(0,0,0,0.05);
        height: 100%; 
        justify-content: space-between;
    }

    .image-container {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f9f9f9;
        border-radius: 12px;
        overflow: hidden;
    }

    .product-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
